<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Note ton prof</title>
</head>
<body>

<div class="container" id="app">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mb-5">Note ton prof !</h1>
      <div class="row">
        <div class="col-md-6  mb-5" v-for="professeur in professeurs">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ professeur.nom + ' ' + professeur.prenom }}</h5>
              <button class="btn btn-primary" v-on:click="recupererAvis(professeur.id)">Afficher les avis</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>les avis de :</h3>
      <div v-if="profNotes.includes(profSelectionne)" class="alert alert-success">Votre avis a été enregistré</div>
      <div class="avis-form" v-if="profSelectionne != null && profNotes.indexOf(profSelectionne) == -1">
        <h2 v-for="professeur in professeurs" v-if="profSelectionne == professeur.id"> {{professeur.nom + ' ' + professeur.prenom }}</h2>
        <form v-on:submit.prevent="ajouterAvis()">
          <div class="form-group">
            <label for="">Note</label>
            <select v-model="nouvelAvis.note" class="form-control" required >
              <option>1</option>
              <option >2</option>
              <option >3</option>
              <option >4</option>
              <option >5</option>
            </select>
          </div>
          <div class="form-group">
              <label for="">Commentaire</label>
              <textarea required class="form-control" v-model="nouvelAvis.commentaire"></textarea>
            </div>
            <div class="form-group">
              <label for="">Adresse email</label>
              <input type="email" class="form-control" required v-model="nouvelAvis.emailEtudiant">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Ajouter avis">
            </div>
        </form>
      </div>
      <div class="card" v-for="avisItem in avis">
          <div class="card-body">
              <h5 class="card-title">Note : <strong>{{ avisItem.note + '/5'}} </strong></h5>
              <p class="card-text">{{ avisItem.commentaire | truncate(50) }}</p>
              <p class="card-text">{{ avisItem.emailEtudiant }}</p>
          </div>
          <button v-if="mesAvis.includes(avisItem.id)" class="btn btn-danger" v-on:click="supprimerAvis(avisItem.id)">Supprimer</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data:{
    professeurs: [],
    avis: [],
    apiBase: 'http://localhost:8000/api/',
    profSelectionne: null,
    nouvelAvis: {},
    profNotes: [],
    mesAvis: []
  },
  methods:{
    recupererProfesseurs(){
      axios.get(this.apiBase + 'professeurs')
      .then(response => {
          this.professeurs = response.data;
      })
      .catch(error => {
        console.log(error);
      })
    },
    recupererAvis(professeurId){
      axios.get(this.apiBase + 'professeur/' + professeurId +  '/avis')
      .then(response => {
          this.avis = response.data;
          this.profSelectionne = professeurId;
      })
      .catch(error => {
        console.log(error);
      })
    },
    ajouterAvis(){
      axios.put(this.apiBase + 'professeur/' + this.profSelectionne +  '/avis', this.nouvelAvis)
      .then(response => {
        this.avis.push(response.data);
        this.profNotes.push(this.profSelectionne);
        this.nouvelAvis = {};
        this.mesAvis.push(response.data.id);
      })
      .catch(error => {
        console.log(error);
      })
    },
    supprimerAvis(avisId){
      if(! this.mesAvis.includes(avisId)){
        console.log('error suppression');
        return;
      }
      axios.delete(this.apiBase + 'avis/' + avisId)
      .then(response => {
        this.mesAvis.splice(this.mesAvis.indexOf(avisId),1);
        this.recupererAvis(this.profSelectionne);
        this.profNotes.splice(this.profNotes.indexOf(this.profSelectionne),1);
      })
      .catch(error => {
        console.log(error);
      })
    },
    getProfIdFromUrl(){
      var url = document.location.href.split('/');
      var profId = url[url.length - 1];
      return profId;
    }
  },
  mounted(){
    this.recupererProfesseurs();
    if(this.getProfIdFromUrl() != 'avis.html' ){
      this.recupererAvis(parseInt(this.getProfIdFromUrl()));
    }

  },
  filters:{
    truncate(string, limit){
      if(string.length > limit){
        return string.substring(0,limit) + '...';
      }
      return string;
    }
  }
})
</script>
</body>
</html>