<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Emploi du temps</title>
</head>
<body>
<div class="container" id="app">
    <div class="row mt-5 mb-5">
        <div class=" col-2 d-inline-block "><button class="btn btn-primary btn-lg" v-on:click="changeDay(-1)">Précédent</button></div>
        <div class=" col-8 d-inline-block "><h2 class="text-capitalize text-center">{{ dateFr }}</h2></div>
        <div class=" col-2 d-inline-block text-right"><button class="btn btn-primary btn-lg" v-on:click="changeDay(1)">Suivant</button></div>
    </div>
    <div class="alert alert-danger text-center mt-5" role="alert" v-if="emptyCours == true"> Aucun cours n'est prévu à ce jour </div>
    <div class="row mb-5" style="background:aliceblue" v-for="salle in salles" v-if="emptyCours == false">
        <div class="text-center mt-2" style="width: 100%"><h2>Salle : {{ salle }}</h2></div>
        <div class="col-6 d-inline-block mt-5 mb-5 border-right border-secondary">
            <h2 class="text-center mb-5">Matin</h2>
            <div class="card mb-3" style="width: 25rem; margin: 0 auto"  v-for="cour in cours" v-if="cour.dateHeureDebut <= '12:00:00' && cour.salle == salle">
                <div class="card-body">
                    <h5 class="card-title">{{ cour.matiere }}</h5>
                    <h5 class="card-title">Type : {{cour.type }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Salle : {{ cour.salle }}</h6>
                    <p class="card-text">de : {{ cour.dateHeureDebut }} à {{cour.dateHeureFin }}</p>
                    <a v-bind:href="'/avis.html/'+ cour.profId" title="Donner une note à ce professeur" class="card-link">Professeur : {{ cour.professeur }}</a>
                </div>
            </div>
        </div>
        <div class=" col-6 d-inline-block mb-5 mt-5">
            <h2 class="text-center mb-5">Après-midi</h2>
            <div class="card mb-3" style="width: 25rem; margin: 0 auto" v-for="cour in cours" v-if="cour.dateHeureDebut > '12:01:00' && cour.salle == salle">
                <div class="card-body">
                    <h5 class="card-title">{{ cour.matiere }}</h5>
                    <h5 class="card-title">Type : {{cour.type }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Salle : {{ cour.salle }}</h6>
                    <p class="card-text">de : {{ cour.dateHeureDebut }} à {{cour.dateHeureFin }}</p>
                    <a v-bind:href="'/avis.html/'+ cour.profId" title="Donner une note à ce professeur" class="card-link">Professeur : {{ cour.professeur }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/edt.js"></script>
<script>
// Selectionne le noeud dont les mutations seront observées
var targetNode = document.getElementById('app');

// Options de l'observateur (quelles sont les mutations à observer)
var config = { attributes: true, childList: true };

// Fonction callback à éxécuter quand une mutation est observée
var callback = function(mutationsList) {
    for(var mutation of mutationsList) {
        if (mutation.type == 'childList') {
            console.log('Un noeud enfant a été ajouté ou supprimé.');
        }
        else if (mutation.type == 'attributes') {
            console.log("L'attribut '" + mutation.attributeName + "' a été modifié.");
        }
    }
};

// Créé une instance de l'observateur lié à la fonction de callback
var observer = new MutationObserver(callback);

// Commence à observer le noeud cible pour les mutations précédemment configurées
observer.observe(targetNode, config);

// L'observation peut être arrêtée par la suite
observer.disconnect();
</script>
</body>
</html>




